body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 15px;
}

main {
    padding: 20px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 12px;
    margin: 5px;
}

button:hover {
    background-color: #45a049;
}

button:disabled {
    background-color: #cccccc;  /* Color for the disabled state */
    color: #888888;
}



footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Additional CSS */
/* Add your table stylings, form stylings, etc. here */

/* For instance: */
table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 15px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

#status, #status_id {
        background-color:     #af4cab;
    color: white;

}

.field {
    display: flex;
    justify-content: space-between; /* This pushes the items to the extremes */
}

.field-label {
    text-align: left;
}

.field-input {
    text-align: left;
}

.flex-container {
    display: flex;
    justify-content: space-between; /* Adjusts space between panels */
    flex-direction: row;
}
.flex-item {
    flex: 1; /* Each panel takes up an equal amount of space */
    padding: 10px;
    border: 1px solid #ddd; /* Adding a border for visual separation */
    box-sizing: border-box; /* Ensures padding and border are included in width */
    margin-right: 10px; /* Spacing between panels */
}
.flex-item:last-child {
    margin-right: 0;  /* Removes margin from the last panel */
}



#big1 {
    font-family: Arial, sans-serif;
    font-size: 20px;
}



input {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.scrollable-table {
    width: 100%;      /* Adjust as needed */
    height: 300px;    /* Adjust as needed */
    overflow: auto;   /* Makes it scrollable */
    border: 1px solid #ccc; /* Optional: Adds a border around the scrollable area */
}

#overallStatus, #status-exercise, #status-time, #status-rep, #status-set {
    font-size: 36px;
}


#exercise-description {
    font-size: 24px;
}

@media only screen and (max-width: 600px) {
    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}
